<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imagename</key>
		<string>China</string>
		<key>countryname</key>
		<string>中国</string>
		<key>ioslocale</key>
		<string>zh_CN</string>
		<key>baidulocale</key>
		<string>zh</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>America</string>
		<key>countryname</key>
		<string>美国</string>
		<key>ioslocale</key>
		<string>en</string>
		<key>baidulocale</key>
		<string>en</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>France</string>
		<key>countryname</key>
		<string>法国</string>
		<key>ioslocale</key>
		<string>fr</string>
		<key>baidulocale</key>
		<string>fra</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Italy</string>
		<key>countryname</key>
		<string>意大利</string>
		<key>ioslocale</key>
		<string>it</string>
		<key>baidulocale</key>
		<string>it</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Russia</string>
		<key>countryname</key>
		<string>俄罗斯</string>
		<key>ioslocale</key>
		<string>ru_UA</string>
		<key>baidulocale</key>
		<string>ru</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Japan</string>
		<key>countryname</key>
		<string>日本</string>
		<key>ioslocale</key>
		<string>ja-JP</string>
		<key>baidulocale</key>
		<string>jp</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Germany</string>
		<key>countryname</key>
		<string>德国</string>
		<key>ioslocale</key>
		<string>de-DE</string>
		<key>baidulocale</key>
		<string>de</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Korea</string>
		<key>countryname</key>
		<string>韩国</string>
		<key>ioslocale</key>
		<string>ko-KR</string>
		<key>baidulocale</key>
		<string>kor</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Portugal</string>
		<key>countryname</key>
		<string>葡萄牙</string>
		<key>ioslocale</key>
		<string>pt-PT</string>
		<key>baidulocale</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Thailand</string>
		<key>countryname</key>
		<string>泰国</string>
		<key>ioslocale</key>
		<string>th-TH</string>
		<key>baidulocale</key>
		<string>th</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>SaudiArabia</string>
		<key>countryname</key>
		<string>沙特阿拉伯</string>
		<key>ioslocale</key>
		<string>ar-SA</string>
		<key>baidulocale</key>
		<string>ara</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Spain</string>
		<key>countryname</key>
		<string>西班牙</string>
		<key>ioslocale</key>
		<string>es-ES</string>
		<key>baidulocale</key>
		<string>spa</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Greece</string>
		<key>countryname</key>
		<string>希腊</string>
		<key>ioslocale</key>
		<string>el-GR</string>
		<key>baidulocale</key>
		<string>el</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Netherlands</string>
		<key>countryname</key>
		<string>荷兰</string>
		<key>ioslocale</key>
		<string>nl-NL</string>
		<key>baidulocale</key>
		<string>nl</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Poland</string>
		<key>countryname</key>
		<string>波兰</string>
		<key>ioslocale</key>
		<string>pl-PL</string>
		<key>baidulocale</key>
		<string>pl</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Denmark</string>
		<key>countryname</key>
		<string>丹麦</string>
		<key>ioslocale</key>
		<string>da-DK</string>
		<key>baidulocale</key>
		<string>dan</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Finland</string>
		<key>countryname</key>
		<string>芬兰</string>
		<key>ioslocale</key>
		<string>fi-FI</string>
		<key>baidulocale</key>
		<string>fin</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Czech</string>
		<key>countryname</key>
		<string>捷克</string>
		<key>ioslocale</key>
		<string>cs-CZ</string>
		<key>baidulocale</key>
		<string>cs</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Romania</string>
		<key>countryname</key>
		<string>罗马尼亚</string>
		<key>ioslocale</key>
		<string>ro-RO</string>
		<key>baidulocale</key>
		<string>rom</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Sweden</string>
		<key>countryname</key>
		<string>瑞典</string>
		<key>ioslocale</key>
		<string>sv-SE</string>
		<key>baidulocale</key>
		<string>swe</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Hungary</string>
		<key>countryname</key>
		<string>匈牙利</string>
		<key>ioslocale</key>
		<string>hu-HU</string>
		<key>baidulocale</key>
		<string>hu</string>
	</dict>
	<dict>
		<key>imagename</key>
		<string>Vietnam</string>
		<key>countryname</key>
		<string>越南</string>
		<key>ioslocale</key>
		<string>vi-VN</string>
		<key>baidulocale</key>
		<string>vie</string>
	</dict>
</array>
</plist>
