<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oneNat</key>
	<dict>
		<key>defuleimage</key>
		<string>one_people_defult_image</string>
		<key>keyboardimage</key>
		<string>keyboardimage_one</string>
		<key>selectpeople</key>
		<string>oneNat</string>
		<key>microphoneimage</key>
		<string>microphone_one</string>
		<key>bgimage</key>
		<string>one_people_image</string>
		<key>languagedata</key>
		<dict>
			<key>baidulocale</key>
			<string>zh</string>
			<key>ioslocale</key>
			<string>zh-CN</string>
			<key>countryname</key>
			<string>中国</string>
			<key>imagename</key>
			<string>China</string>
		</dict>
		<key>peoplecolor</key>
		<string>FF1C62</string>
		<key>selectbool</key>
		<string>true</string>
	</dict>
	<key>twoNat</key>
	<dict>
		<key>defuleimage</key>
		<string>two_people_defult_image</string>
		<key>keyboardimage</key>
		<string>keyboardimage_two</string>
		<key>selectpeople</key>
		<string>twoNat</string>
		<key>microphoneimage</key>
		<string>microphone_two</string>
		<key>bgimage</key>
		<string>two_people_image</string>
		<key>languagedata</key>
		<dict>
			<key>baidulocale</key>
			<string>en</string>
			<key>ioslocale</key>
			<string>en-US</string>
			<key>countryname</key>
			<string>美国</string>
			<key>imagename</key>
			<string>America</string>
		</dict>
		<key>peoplecolor</key>
		<string>0065D4</string>
		<key>selectbool</key>
		<string>false</string>
	</dict>
	<key>threeNat</key>
	<dict>
		<key>defuleimage</key>
		<string>three_people_defult_image</string>
		<key>keyboardimage</key>
		<string>keyboardimage_three</string>
		<key>selectpeople</key>
		<string>threeNat</string>
		<key>microphoneimage</key>
		<string>microphone_three</string>
		<key>bgimage</key>
		<string>three_people_image</string>
		<key>languagedata</key>
		<dict>
			<key>baidulocale</key>
			<string>kor</string>
			<key>ioslocale</key>
			<string>ko-KR</string>
			<key>countryname</key>
			<string>韩国</string>
			<key>imagename</key>
			<string>Korea</string>
		</dict>
		<key>peoplecolor</key>
		<string>00968B</string>
		<key>selectbool</key>
		<string>false</string>
	</dict>
</dict>
</plist>
